<html>
    <body>
        <h1>
            Welcome to Sessions
        </h1>

        <% sessions.map((session,index)=>{%>
            <div>
                <h3><%=session.title%></h3>
                <p><%=session.description%></p>
                <a href="sessions/<%=index%>">Learn more</a>
            </div>
        <% })%>
    </body>
</html>